footer.footer
  .container
    .footer-container
      a.foot-logo(href="index.html" title=siteTitle)= siteTitle
      include ../modules/foot-menu
      .foot-content
        .social
          a.social__link(href="#" title="Facebook")
            +icon("facebook")
          a.social__link(href="#" title="Twitter")
            +icon("twitter")
          a.social__link(href="#" title="Instagram")
            +icon("instagram")
        .copyright © #{siteTitle}, 2018