footer.footer
  .container
    .footer-container
      a.foot-logo(href="index.html" title=siteTitle)= siteTitle
      ul.foot-menu
        - menu = [{ "name": "Каталог", "link": "catalog.html" }, { "name": "Оплата и доставка", "link": "delivery.html" }, { "name": "Отзывы", "link": "reviews.html" }, { "name": "Акции", "link": "promotions.html" }, { "name": "Где купить", "link": "shops.html" }]
        each item in menu
          li.foot-menu__item
            a.foot-menu__link(href=item.link)= item.name
      .foot-content
        .social
          a.social__link(href="#" title="Facebook")
            +icon("facebook")
          a.social__link(href="#" title="Twitter")
            +icon("twitter")
          a.social__link(href="#" title="Instagram")
            +icon("instagram")
        .copyright © #{siteTitle}, 2018