footer.footer
  .container
    .footer-container
      .social
        a.social__link(href="#" title="Facebook")
          +icon('facebook')
        a.social__link(href="#" title="Twitter")
          +icon('twitter')
        a.social__link(href="#" title="Instagram")
          +icon('instagram')
      .copyright © Кондитерская «Белые слоны», 2018