footer.footer
  .container
    .footer-container
      .social
        a.social__link(href="#")
          +icon('facebook')
        a.social__link(href="#")
          +icon('twitter')
        a.social__link(href="#")
          +icon('instagram')
      .copyright © Кондитерская «Белые слоны», 2018