header.header.fixed-top
  nav.navbar
    .container
      .navbar-container
        button.navbar-toggler.collapsed(type="button" data-toggle="modal" data-target="#catalog-nav" title="Развернуть меню")
          span.navbar-toggler-bar
          span.navbar-toggler-bar
          span.navbar-toggler-bar
        .navbar-side.navbar-side--left
          .navbar-item
            a.navbar-item__link(href="#" title="Поиск")
              span.navbar-item__icon
                +icon("search")
              span.navbar-item__text Поиск
        .navbar-side.navbar-side--right
          .navbar-item
            a.navbar-item__link(href="#" title="Корзина")
              span.navbar-item__icon
                +icon("basket")
                .navbar-item__count 1
              span.navbar-item__text 2 300 ₽
          .navbar-item
            a.navbar-item__link(href="#" title="Войти в личный кабинет")
              span.navbar-item__icon
                +icon("login")
              span.navbar-item__text Войти