.side-links
  a.side-links__link(href="contacts.html")
    span Контакты
  a.side-links__link(href="catalog.html")
    span Каталог

.nav-links
  a.nav-links__link(href="shops.html") Где купить
  a.nav-links__link(href="index.html") Главная