.footer {
  @include media-breakpoint-down(md) {
    background-color: $body-bg;
    margin-top: 40px;

    .page-index & {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    @include fixed(null, 0, 0, 0);
    z-index: $zindex-fixed;
  }
}

.footer-container {
  @include media-breakpoint-down(md) {
    position: relative;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.foot-logo {
  @include size(134px);
  background-color: #fff;
  left: 50%;
  position: absolute;
  top: -68px;
  text-indent: -9999px;
  transform: translateX(-50%);

  @include media-breakpoint-up(lg) {
    display: none;
  }

  &::before {
    @include size(100px);
    @include absolute-center;
    background-image: url('../img/general/logo.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    filter: invert(9%);
  }

  @if $enable-print-styles {
    @media print {
      display: none;
    }
  }
}

.foot-menu {
  @include list-unstyled;
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    border-top: 1px solid #ECE7E7;
    padding-top: 78px;
    padding-bottom: 20px;
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    display: flex;

    .page-inner .footer & {
      display: none;
    }
  }

  @if $enable-print-styles {
    @media print {
      display: none;
    }
  }

  &__item {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2.15em;

    @include media-breakpoint-up(lg) {
      margin-right: rem(56);
      margin-bottom: 0;
    }
  }

  &__link {
    color: $body-color;

    @include media-breakpoint-up(lg) {
      .footer & {
        color: #fff;
      }
    }

    &:hover {
      color: $link-color;
    }
  }
}

.foot-content {
  @include media-breakpoint-down(md) {
    border-top: 1px solid #ECE7E7;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: auto;
  }
}

.social {
  align-items: center;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(md) {
    .footer & {
      margin-bottom: 32px;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  @if $enable-print-styles {
    @media print {
      display: none;
    }
  }

  &__link {
    @include size(rem(22));
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 18px;

    @include media-breakpoint-down(md) {
      .catalog-nav-footer & {
        margin: 0 32px 0 0;
      }
    }

    @include media-breakpoint-up(lg) {
      @include size(rem(24));
      margin: 0 0 0 20px;
    }

    .icon {
      fill: $body-color;
      @include transition(fill 0.15s ease-in-out);

      @include media-breakpoint-up(lg) {
        fill: #fff;
      }

      &-facebook {
        @include size(7px, 17px);
      }
  
      &-twitter {
        @include size(17px, 14px);
      }
  
      &-instagram {
        @include size(19px, 18px);
      }
    }

    &:hover {
      transform: scale(1.1);
      // .icon {
      //   &-facebook {
      //     fill: $bc-facebook;
      //   }
    
      //   &-twitter {
      //     fill: $bc-twitter;
      //   }
    
      //   &-instagram {
      //     fill: $bc-instagram-4;
      //   }
      // }
    }
  }
}

.copyright {
  color: #B3B3B3;
  font-size: 14px;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  @if $enable-print-styles {
    @media print {
      display: block;
      text-align: left;
    }
  }
}