.navbar {
  padding-top: 20px;
  padding-bottom: 20px;

  @include media-breakpoint-down(md) {
    .page-inner & {
      background-color: #fff;
    }
  }

  @include media-breakpoint-up(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.navbar-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar-toggler {
  @include size(28px, 23px);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navbar-toggler-bar {
  background-color: #fff;
  border-radius: 1.5px;
  height: 3px;
  left: -2px;
  position: absolute;
  top: 10px;
  @include transition($transition-base);
  transform-origin: 50% 50%;
  width: 32px;

  &:nth-child(1) {
    transform: rotate(45deg);
  }

  &:nth-child(2) {
    left: -20px;
    opacity: 0;
    visibility: hidden;
  }

  &:nth-child(3) {
    transform: rotate(-45deg);
  }

  .navbar-toggler.collapsed & {
    left: 0;

    &:nth-child(1) {
      top: 0;
      transform: rotate(0deg);
      width: 28px;
    }
  
    &:nth-child(2) {
      opacity: 1;
      visibility: visible;
      top: 10px;
      width: 22px;
    }
  
    &:nth-child(3) {
      top: 20px;
      transform: rotate(0deg);
      width: 25px;
    }
  }

  @include media-breakpoint-down(md) {
    .page-inner & {
      background-color: $body-color;
    }
  }
}

.navbar-side {
  align-items: center;
  display: flex;

  &--left {
    margin-right: auto;

    @include media-breakpoint-down(md) {
      display: none;
    }

    @include media-breakpoint-up(lg) {
      .page-inner & {
        display: none;
      }
    }
  }

  &--right {
    margin-left: auto;
  }
}

.navbar-item {
  font-weight: 500;

  + .navbar-item {
    margin-left: 28px;

    @include media-breakpoint-up(lg) {
      margin-left: 50px;
    }
  }

  &__link {
    align-items: center;
    color: #fff;
    display: flex;

    &:hover {
      color: $link-color !important;
      text-decoration: none;

      .navbar-item__icon {
        .icon {
          fill: $link-color !important;
        }
      }
    }

    @include media-breakpoint-down(md) {
      .page-inner & {
        color: $body-color;
      }
    }
  }

  &__icon {
    margin-right: 12px;
    position: relative;

    .icon {
      fill: #fff;
      @include transition(fill 0.15s ease-in-out);

      @include media-breakpoint-down(md) {
        .page-inner & {
          fill: $body-color;
        }
      }

      &.icon-basket {
        @include size(20px, 25px);
      }

      &.icon-login {
        @include size(27px, 25px);
      }

      &.icon-search {
        @include size(25px, 23px);
      }
    }
  }

  &__count {
    @include size(18px);
    align-items: center;
    background-color: $primary;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: rem(11);
    font-weight: 700;
    justify-content: center;
    position: absolute;
    right: -8px;
    top: -6px;
  }

  &__text {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

.navbar-collapse {
  background-color: #fff;
  text-align: center;
}

.navbar-nav {
  @include list-unstyled;
  margin-bottom: 0;
}