.about-decor {
  @include size(212px, 225px);
  background-image: url('../img/general/content-decor.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  right: -20px;
  top: 320px;
  z-index: -1;

  @include media-breakpoint-up(sm) {
    right: $grid-gutter-width/2;
  }

  @include media-breakpoint-up(lg) {
    @include size(462px, 490px);
    bottom: 0;
    right: 0;
    top: auto;
  }
}

.text-list {
  @include list-unstyled;
  margin-bottom: 1rem;

  > li {
    margin-bottom: 1.25em;
    padding-left: rem(30);
    position: relative;

    &::before {
      border-top: 2px solid $primary;
      content: '';
      left: 0;
      position: absolute;
      top: 0.65em;
      width: 13px;
    }
  }
}