.page-catalog {
  .content-wrapper {
    @include media-breakpoint-up(lg) {
      margin-right: -($grid-gutter-width*4 + $column-width-lg*3);
    }
  
    @include media-breakpoint-up(xl) {
      margin-right: -($grid-gutter-width*4 + $column-width-xl*3);
    }
  }

  .content {
    @include media-breakpoint-up(lg) {
      padding-top: 5vh;
      padding-left: $column-width-lg;
      padding-right: $column-width-lg + $grid-gutter-width;
    }
  
    @include media-breakpoint-up(xl) {
      padding-left: $column-width-xl;
      padding-right: $column-width-xl + $grid-gutter-width;
    }
  }

  h1, .h1 {
    @include media-breakpoint-up(lg) {
      margin-bottom: 1.2em;
    }
  }
}

.categories {
  margin-bottom: 20px;
  position: relative;

  @include media-breakpoint-up(md) {
    margin-bottom: 0.5em;
  }
}

.categories-select-mobile {
  @include media-breakpoint-up(md) {
    display: none;
  }
}

.categories-links {
  @include list-unstyled;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  @include media-breakpoint-down(sm) {
    display: none;
  }

  &__trigger {
    color: $body-color;
    font-size: rem(15);
    position: absolute;
    right: 0;
    top: 0;

    @include media-breakpoint-down(sm) {
      display: none;
    }

    &:hover {
      .caret {
        fill: $primary;
      }

      .dotted {
        &::before { opacity: 0; }
        &::after { opacity: 1; }
      }
    }

    &.is-hidden {
      display: none;
    }

    .dotted {
      &::before {
        background-image: linear-gradient(to right, $body-color, $body-color 25%, transparent 25%, transparent 100%);
      }
    }
  }

  &__link {
    color: $body-color;
    font-size: rem(15);
    margin: 0 30px 1em 0;
    text-decoration: underline;
    white-space: nowrap;

    &:hover {
      text-decoration: underline;
    }

    &.is-active {
      color: $primary;
      text-decoration: none;
    }

    &.is-hidden {
      display: none;
    }
  }
}

.catalog {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-bottom: rem(42);

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &--wide {
    grid-template-columns: auto;

    .catalog-item {
      @include media-breakpoint-up(md) {
        height: 270px;

        &:hover,
        &:focus-within {
          .catalog-card {
            height: 325px;
          }
        }
      }
    }

    .catalog-card {
      @include media-breakpoint-up(md) {
        grid-template-columns: 44% 50%;
        grid-template-rows: 235px 40px;
        height: 270px;
      }
    }
  }
}

.catalog-item {
  box-shadow: 0 0 0 1px #F7E8E3;

  @include media-breakpoint-up(md) {
    height: 230px;
    position: relative;

    &:hover,
    &:focus-within {
      .catalog-card {
        background-color: #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.07);
        height: 285px;
        z-index: 2;

        .catalog-card__quantity,
        .catalog-card__button {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &:hover {
      .catalog-card {
        z-index: 3;
      }
    }
  }
}

.catalog-card {
  @include transition(all 0.2s ease-in-out);
  backface-visibility: hidden;
  display: grid;
  grid-column-gap: 20px;
  grid-template-areas:
    "picture body"
    "quantity button";
  grid-template-columns: 96px minmax(130px, 1fr);
  grid-template-rows: auto;
  justify-content: space-between;
  overflow: hidden;
  padding: 6%;
  transform: translate3d(0, 0, 0);
  z-index: 1;

  @include media-breakpoint-down(sm) {
    @media (orientation: landscape) {
      grid-column-gap: 10px;
      grid-template-columns: 86px minmax(116px, 1fr);
    }
  }

  @include media-breakpoint-up(xs) {
    grid-column-gap: 10px;
    grid-template-columns: 86px minmax(116px, 1fr);
  }

  @include media-breakpoint-up(md) {
    @include absolute(0, 0, null, 0);
    grid-column-gap: 20px;
    grid-template-rows: 195px 40px;
    height: 230px;
    padding: 24px;
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: 100px 160px;
    padding: 24px 32px;
  }

  &__pic {
    align-items: center;
    display: flex;
    grid-area: picture;
    justify-content: center;
    margin-left: -42px;
    margin-bottom: 20px;
    // overflow: hidden;

    @include media-breakpoint-up(md) {
      margin-left: -60px;
      margin-right: -5px;
    }

    @include media-breakpoint-up(xl) {
      margin-right: -15px;
    }

    a {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }

  &__form-group {
    align-items: center;
    display: flex;
    font-size: 0.93rem;
    margin-bottom: rem(18);

    @include media-breakpoint-up(xl) {
      font-size: rem(14);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--price {
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    grid-area: body;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__title {
    font-family: $headings-font-family;
    font-size: 1rem;
    line-height: $headings-line-height;
    // margin-bottom: 2.35em;
    margin-bottom: 1em;

    @include media-breakpoint-up(xl) {
      font-size: rem(15);
    }

    a {
      color: $body-color;

      &:hover {
        color: $link-color;
      }
    }
  }

  &__weight {
    width: 50px;

    @include media-breakpoint-up(xl) {
      width: 72px;
    }
  }

  &__price {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;

    @include media-breakpoint-up(xl) {
      font-size: rem(18);
    }
  }

  &__quantity,
  &__button {
    @include media-breakpoint-up(md) {
      @include transition(all 0.3s ease-in-out);
      opacity: 0;
      visibility: hidden;
    }
  }

  &__quantity {
    grid-area: quantity;

    .qnt-widget {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__button {
    grid-area: button;
  }
}

.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  margin: 0;
  appearance: none;
}

input[type=number] {
  appearance: textfield;
}

.form-control {
  font-size: rem(14);
  font-weight: 500;
  height: 40px;

  &:focus {
    box-shadow: 0 0 0 $btn-focus-width rgba($primary, .5);
  }
}

.qnt-widget {
  position: relative;
  width: 96px;

  .form-control {
    padding-left: rem(36);
    padding-right: rem(36);
    text-align: center;
  }

  .qnt-button {
    @include size(rem(36), 40px);
    background-color: transparent;
    color: #B3B3B3;
    font-size: rem(20);
    font-weight: 700;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;

    &::before,
    &::after {
      @include absolute-center;
      @include transition(border-color 0.15s ease-in-out);
      border: 1px solid #B3B3B3;
      content: '';
      width: 12px;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }

    &:hover {
      color: $body-color;

      &::before,
      &::after {
        border-color: darken(#B3B3B3, 40%);
      }
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba($primary, .5);
    }

    &--down {
      left: 0;

      &::after {
        display: none;
      }
    }

    &--up {
      right: 0;
    }

    &[disabled] {
      opacity: 0.3;

      &::before,
      &::after {
        border-color: #B3B3B3;
      }
    }
  }
}

.qnt-check-label {
  margin-right: 12px;
}

.qnt-check-item {
  display: flex;
  line-height: 27px;
  position: relative;

  input[type="radio"] {
    @include size(27px);
    @include transition($input-transition);
    appearance: none;
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    margin-bottom: 0;
    text-align: center;

    &:checked {
      background-color: $primary;

      + label {
        color: #fff;
      }
    }

    &:focus {
      box-shadow: 0 0 0 $btn-focus-width rgba($primary, .5);
      outline: none;
    }
  }

  label {
    @include size(27px);
    cursor: pointer;
    font-size: 13px;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    top: 0;

    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
  }
}

.load-more {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    border-top: 2px solid $primary;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }

  &__link {
    background-color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 0 1em;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 1.125rem;
      padding: 0 0.35em;
    }
  }
}

.advices {
  @include list-unstyled;
  counter-reset: advices-list;
  margin: 40px 0;

  @include media-breakpoint-up(lg) {
    margin: 66px 0 78px;
  }
}

.advices-item {
  margin-bottom: 40px;
  position: relative;

  @include media-breakpoint-up(lg) {
    margin-bottom: 60px;
  }

  &__title {
    color: $primary;
    font-family: $headings-font-family;
    font-size: 1.214rem;
    min-height: 40px;
    line-height: $headings-line-height;
    margin-bottom: 0.85em;
    position: relative;
    width: 55%;

    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
      min-height: 0;
      width: auto;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.625rem;
      padding-right: 20px;
    }

    &::before {
      content: counter(advices-list);
      counter-increment: advices-list;
      font-family: $headings-font-family;
      font-size: 5.286rem;
      left: 0;
      line-height: 1;
      opacity: 0.2;
      position: absolute;
      top: -0.375em;
      z-index: -1;

      @include media-breakpoint-up(md) {
        font-size: 6.9375rem;
      }
    }
  }
}

.advantages-show {
  background-color: #FEF7F5;
  margin-left: -20px;
  margin-right: -20px;
  padding: 30px 20px;

  @include media-breakpoint-up(md) {
    margin-left: -40px;
    margin-right: -40px;
    padding: 40px;
  }

  &__title {
    font-family: $headings-font-family;
    font-size: 1.5rem;
    line-height: $headings-line-height;
    margin-bottom: 1.5em;

    @include media-breakpoint-up(xl) {
      font-size: rem(26);
    }
  }

  &__list {
    @include list-unstyled;
    margin-bottom: 20px;

    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  &__item {
    font-family: $headings-font-family;
    font-size: 1rem;
    line-height: $headings-line-height;

    @include media-breakpoint-up(xl) {
      font-size: rem(20);
    }

    + .advantages-show__item {
      margin-top: 0.75em;

      @include media-breakpoint-up(md) {
        margin-top: 1.35em;
      }
    }
  }

  &__link {
    color: $body-color;
    text-decoration: underline;

    &:hover {
      color: $primary;
      text-decoration: underline;
    }

    &.active {
      color: $primary;
      text-decoration: none;
    }
  }
}