.page-inner {
  .main {
    background-color: $body-bg;

    @include media-breakpoint-up(lg) {
      @include fixed(0, 50%, 0, 0);
      display: flex;
      justify-content: flex-end;
      z-index: $zindex-fixed + 1;
    }
  }
}

.content-container,
.content-wrapper,
.content {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.content-container {
  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 0;
    max-width: get-container-max-width(lg)/2;
  }

  @include media-breakpoint-up(xl) {
    max-width: get-container-max-width(xl)/2;
  }
}

.content-wrapper {
  background-color: $body-bg;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    margin-right: -($grid-gutter-width*2 + $column-width-lg*2);
  }

  @include media-breakpoint-up(xl) {
    margin-right: -($grid-gutter-width*2 + $column-width-xl*2);
  }
}

.content {
  @include media-breakpoint-down(sm) {
    padding-top: 85px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(md) {
    // display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
    padding-top: 120px;
    padding-bottom: 6vh;
  }

  @include media-breakpoint-up(lg) {
    height: 100vh;
    overflow-y: auto;
    padding-top: 12vh;
    padding-left: $column-width-lg*2 + $grid-gutter-width;
    padding-right: $column-width-lg*1.5 + $grid-gutter-width;
  }

  @include media-breakpoint-up(xl) {
    padding-left: $column-width-xl*2 + $grid-gutter-width;
    padding-right: $column-width-xl*1.5 + $grid-gutter-width;
  }
}

.breadcrumbs {
  @include list-unstyled;
  display: flex;
  margin-bottom: 1.2em;

  &__item {
    color: #B3B3B3;
    font-size: rem(16);
    font-weight: 500;
    text-transform: uppercase;

    + .breadcrumbs__item {
      &::before {
        content: '\00A0\2014\00A0';
      }
    }
  }

  &__link {
    color: #B3B3B3;
  }
}

.helpful-links {
  @include list-unstyled;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  &__item {
    font-size: rem(15);
  }

  &__link {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section-content {
  margin-bottom: 40px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 72px;
  }
}