.page-inner {
  .main {
    background-color: $body-bg;
    position: relative;

    @include media-breakpoint-up(lg) {
      @include fixed(0, 50%, 0, 0);
      display: flex;
      justify-content: flex-end;
    }
  }
}

.content-container,
.content-wrapper,
.content {
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
}

.content-container {
  @include media-breakpoint-up(lg) {
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: get-container-max-width(lg)/2;
  }

  @include media-breakpoint-up(xl) {
    width: get-container-max-width(xl)/2;
  }
}

.content-wrapper {
  background-color: $body-bg;
  position: relative;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    margin-right: -($grid-gutter-width*2 + $column-width-lg*2);
  }

  @include media-breakpoint-up(xl) {
    margin-right: -($grid-gutter-width*2 + $column-width-xl*2);
  }
}

.about-decor {
  @include size(212px, 225px);
  background-image: url('../img/general/content-decor.png');
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  position: absolute;
  right: -20px;
  top: 320px;
  z-index: -1;

  @include media-breakpoint-up(sm) {
    right: $grid-gutter-width/2;
  }

  @include media-breakpoint-up(lg) {
    @include size(462px, 490px);
    bottom: 0;
    right: 0;
    top: auto;
  }
}

.content {
  @include media-breakpoint-down(sm) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: auto;
    padding-top: 12vh;
    padding-bottom: 6vh;
  }

  @include media-breakpoint-up(lg) {
    padding-left: $column-width-lg*2 + $grid-gutter-width;
    padding-right: $column-width-lg*1.5 + $grid-gutter-width;
  }

  @include media-breakpoint-up(xl) {
    padding-left: $column-width-xl*2 + $grid-gutter-width;
    padding-right: $column-width-xl*1.5 + $grid-gutter-width;
  }
}

.text-list {
  @include list-unstyled;
  margin-bottom: 1rem;

  > li {
    margin-bottom: 1.25em;
    padding-left: rem(30);
    position: relative;

    &::before {
      border-top: 2px solid $primary;
      content: '';
      left: 0;
      position: absolute;
      top: 0.65em;
      width: 13px;
    }
  }
}

.about-phone {
  margin-top: rem(40);
  margin-bottom: 0;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &__title {
    color: $primary;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.3;
  }

  &__number {
    font-family: $headings-font-family;
    font-size: 24px;
    margin-bottom: 0;

    a {
      color: $body-color;

      &:hover {
        text-decoration: none;
      }
    }
  }
}