mixin icon(name, mod)
  if (typeof mod !== "undefined")
    - mod = " " + mod
  else
    - mod = ""
  svg(class="icon icon-" + name + mod)
    use(xlink:href="static/img/svg/symbol/sprite.svg#" + name)