.btn {
  @include button-size(rem(12), rem(16), rem(14), 18px, 0);
  border: none;
  font-weight: 700;
  height: 40px;
  text-transform: uppercase;
}

.btn-primary {
  color: #fff;
}

.btn-add {
  @include size(71px);
  background: none;
  border: 3px solid $white;
  border-radius: 50%;
  position: relative;

  &::before,
  &::after {
    @include size(21px, 3px);
    @include absolute-center;
    background-color: $white;
    content: '';
    @include transition($transition-base);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $body-color;
    }
  }
}