.catalog-nav {
  .modal-dialog {
    margin: 0;
    max-width: none;
  }

  &.fade {
    .modal-dialog {
      @include transition(all 0.3s ease);
      transform: translate(0, -20px);
    }
  }

  &.show {
    .modal-dialog {
      transform: translate(0, 0);
    }
  }

  .modal-content {
    border: none;
    border-radius: 0;
    display: block;

    @include media-breakpoint-down(md) {
      min-height: 100vh;
    }

    @include media-breakpoint-up(lg) {
      height: 52vh;
    }
  }

  .close {
    @include size(28px, 24px);
    background: none;
    border: none;
    color: $body-color;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: rem(16);
    font-weight: 500;
    justify-content: center;
    left: 0;
    padding: 0;
    position: absolute;
    top: 20px;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      top: 30px;
    }

    @include media-breakpoint-up(lg) {
      @include size(52vh, rem(90));
      left: 0;
      top: 0;
      transform: rotate(-90deg) translateY(-52vh);
      transform-origin: 100% 0;
    }

    &:focus {
      outline: none;
    }

    .icon-close {
      @include size(24px);
      fill: $body-color;

      @include media-breakpoint-up(lg) {
        @include size(12px);
        margin-right: 12px;
      }
    }

    .close-label {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

.catalog-nav-container {
  @include media-breakpoint-down(md) {
    padding-top: 85px;
    padding-bottom: 30px;
    position: relative;
  }

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: column;
    height: 52vh;
    padding-left: $column-width-lg;
  }

  @include media-breakpoint-up(xl) {
    padding-left: $column-width-xl;
  }
}

.catalog-nav-body {
  @include media-breakpoint-down(md) {
    .h1 {
      font-size: 1.785rem;
      margin-bottom: 1.7em;
      text-align: center;
    }

    .main-menu {
      margin-bottom: 0;

      &__item {
        font-size: 1.15rem;
        margin-bottom: 2.5em;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .h1 {
      margin-top: 12vh;
      margin-bottom: 9vh;
    }
  
    .main-menu {
      margin-bottom: 2vh;
    }
  }

  @media (min-height: 800px) {
    .h1 {
      margin-top: 90px;
      margin-bottom: 70px;
    }
  }
}

.catalog-nav-footer {
  @include media-breakpoint-down(md) {
    margin-top: 90px;
    position: relative;

    .navbar-side {
      align-items: center;
      border-top: 1px solid #ECE7E7;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
    }

    .navbar-item {
      &--basket {
        display: none;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: 4vh;

    .social {
      display: none;
    }
  }

  @media (min-height: 800px) {
    margin-bottom: 40px;
  }

  .foot-menu__link,
  .navbar-item__link {
    color: $body-color;

    &:hover {
      color: $link-color;
    }
  }

  .navbar-item__icon {
    .icon {
      fill: $link-color;
    }
  }
}

.catalog-nav-side {
  @include media-breakpoint-down(md) {
    align-items: center;
    border-top: 1px solid #ECE7E7;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
  }

  @include media-breakpoint-up(lg) {
    margin-left: auto;

    .social {
      display: none;
    }
  }
}