.tab-content {
  > .tab-pane {
    display: none;
  }

  > .active {
    display: block;
  }
}

.side-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: rem(90);
  z-index: $zindex-fixed + 2;

  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(xl) {
    width: rem(90);
  }

  &__link {
    align-items: center;
    color: $body-color;
    display: flex;
    font-size: rem(16);
    font-weight: 500;
    height: 50%;
    justify-content: center;
    text-transform: uppercase;

    .page-index & {
      color: #fff;

      &:hover {
        color: $link-color;
      }
    }

    span {
      display: block;
      transform: rotate(-90deg);
      transform-origin: 50% 50%;
    }

    &:focus {
      outline: none;
    }
  }
}

.nav-links {
  @include media-breakpoint-down(md) {
    display: none;
  }

  &__link {
    align-items: center;
    color: #fff;
    display: flex;
    font-family: $headings-font-family;
    font-size: rem(24);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: $zindex-fixed + 2;

    &:hover {
      color: $link-color;

      .icon-arrow {
        fill: $link-color;
      }
    }

    &::before {
      @include size(rem(72), rem(72));
      border: 3px solid $primary;
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

      @include media-breakpoint-up(xl) {
        @include size(rem(90), rem(90));
      }
    }

    &--left {
      left: 0;
      padding-left: rem(36);

      @include media-breakpoint-up(xl) {
        padding-left: rem(45);
      }

      &::before {
        border-left: none;
        left: 0;
      }
      
      .page-inner & {
        color: $body-color;

        &:hover {
          color: $link-color;
        }
      }
    }

    &--right {
      right: 0;
      padding-right: rem(36);

      @include media-breakpoint-up(xl) {
        padding-right: rem(45);
      }

      &::before {
        border-right: none;
        right: 0;
      }
    }

    @include media-breakpoint-up(xl) {
      font-size: rem(30);
    }

    .icon-arrow {
      @include size(76px, 24px);
      fill: $body-color;
      @include transition(fill 0.15s ease-in-out);
    }
  }
}

.advantages {
  @include list-unstyled;
  @include fixed(50%, 50%, null, null);
  counter-reset: advantages-list;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  transform: translateY(-50%);

  @include media-breakpoint-down(md) {
    display: none;
  }

  @include media-breakpoint-up(lg) {
    margin-right: -(get-container-max-width(lg)/2 - $grid-gutter-width/2);
    width: $column-width-lg*2 + $grid-gutter-width;
  }

  @include media-breakpoint-up(xl) {
    margin-right: -(get-container-max-width(xl)/2 - $grid-gutter-width/2);
    width: $column-width-xl*2 + $grid-gutter-width;
  }

  &__item {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-family: $headings-font-family;
    font-size: rem(26);
    height: 24vh;
    justify-content: center;
    line-height: $headings-line-height;
    max-height: 300px;
    text-align: center;
  }

  &__span {
    display: inline-block;
    position: relative;

    &::before {
      content: counter(advantages-list);
      counter-increment: advantages-list;
      font-size: rem(111);
      left: 50%;
      opacity: 0.2;
      position: absolute;
      top: -0.37em;
      transform: translateX(-50%);
    }
  }
}