h1, .h1 {
  font-size: 1.5rem;
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: 1.5rem;
  margin-bottom: 1em;

  @include media-breakpoint-up(md) {
    font-size: 1.625rem;
  }
}