extends ../layout/main

block variables
  - var siteTitle = "Кондитерская «Белые слоны»"
  - var title = "О кондитерской"
  - var pageClass = "page-inner"

block background
  .background(style="background-image: url(./static/img/content/bg-dark.jpg);")

block side-links
  .side-links
    a.side-links__link(href="catalog.html" data-toggle="modal" data-target="#catalog-nav" title="Каталог")
      span Каталог
    a.side-links__link(href="contacts.html" title="Контакты")
      span Контакты

block nav-links
  .nav-links
    a.nav-links__link.nav-links__link--left(href="shops.html" title="Где купить") Где купить
    a.nav-links__link.nav-links__link--right(href="index.html" title="Главная") Главная

block content
  .content-container.container
    .content-wrapper
      .about-decor
      .content
        h1.h1= title
        ul.text-list
          li Берём только свежие продукты местных фермеров
          li Готовим по собственным рецептам
          li Не добавляем разрыхлителей и консервантов
        p Кондитерская-мастерская &laquo;Белый слон&raquo; была основана в&nbsp;1997&nbsp;году. На&nbsp;протяжении двадцати лет компания производит и&nbsp;поставляет в&nbsp;торговые точки широкий ассортимент тортов, пирожных, пирогов. Кроме этого, кондитерская-мастерская &laquo;Белый слон&raquo; изготавливает эксклюзивные торты на&nbsp;заказ.
        p В&nbsp;2016 году в&nbsp;компании произошли значительные изменения: площадь производственных помещений увеличилась до&nbsp;3000&nbsp;м&sup2;, а&nbsp;также была приобретена автоматизированная производственная линия швейцарской фирмы RONDO. С&nbsp;её&nbsp;помощью удалось значительно увеличить объёмы производства существующих кондитерских изделий, а&nbsp;также производить новые виды продукции.
        include ../modules/call-us