extends ../layout/main

block variables
  - var title = 'Белые слоны'
  - var pageClass = 'page-index'

block background
  .background(style="background-image: url('./static/img/content/bg-light.jpg');")

block content
  .container
    | Index page